app/app-routing.module.js
app/app-routing.module.js.map
app/app.component.js
app/app.component.js.map
app/app.module.js
app/app.module.js.map
app/boot.js
app/boot.js.map
app/components/books.component.js
app/components/books.component.js.map
app/components/class/hero.js
app/components/class/hero.js.map
app/components/class/mock-heroes.js
app/components/class/mock-heroes.js.map
app/components/class/movie.js
app/components/class/movie.js.map
app/components/dashboard.component.js
app/components/dashboard.component.js.map
app/components/hero-detail.component.js
app/components/hero-detail.component.js.map
app/components/heroes.component.js
app/components/heroes.component.js.map
app/components/home.component.js
app/components/home.component.js.map
app/components/movies.component.js
app/components/movies.component.js.map
app/components/music.component.js
app/components/music.component.js.map
app/components/service/hero.service.js
app/components/service/hero.service.js.map
app/components/service/rest.js
app/components/service/rest.js.map
app/components/service/restService.js
app/components/service/restService.js.map
app/components/service/searchservice.js
app/components/service/searchservice.js.map
app/components/service/searchservice.ts
app/main.js
app/main.js.map
node_modules/
npm-debug.log

