<h2>AngularDB!</h2>
<h3>Multimedia Database powered by Angular2</h3>


<p>Willkommen bei AngularDB. <br />
Wir bieten Ihnen die Möglichkeit nach Filmen, Bücher und Musik zu suchen. <br />
Die Motivation unseres Projekts ist eine schönere Übersicht als die Konkurrenz anzubieten.</p>

<br />
<h3>Über unsere Filmsuche</h3>
<p>Unsere Filmsuche wird realisiert durch "The Open Movie Database" (https://www.omdbapi.com/). <br />
    Ein freier Webservice welcher einem unzählige Informationen zu einem Film liefern kann.
    Darunter auch Informationen von IMDB.</p>

<img src="http://assets.webspeaks.in/content/uploads/2016/01/angularjs_logo.svg_-650x4011.png" width="300" heigth="200" />